/*------------------------------------------------------------------
[NU Master Stylesheet]

Project:    'Mian Visuals'
Version:    1.0
Last change:    'Project Start'
Assigned to:    Noor Uddin (NU)
Primary use:    'Main Styles for Site'
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

*. Global
1. Index
2. Photography Portfolio
3. WP Portfolio
4. Contact
5. Login
-------------------------------------------------------------------*/
html,
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #45484d 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #45484d 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #45484d 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: cover;

    font-family: 'Acme', sans-serif;
}

/* 1. INDEX */
.container {
    width: 85%;
    height: 80vh;
    border: 5px solid #fff;
    border-radius: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

#mvLogo {
    width: 15%;
    height: 100px;
    position: absolute;
    top: 2%;
    left: 42%;
    z-index: 1;
    border-radius: 3%;
    cursor: pointer;
}

#smLinks::before {
    position: absolute;
    left: -100px;
    bottom: 0;
    content: "Find us on:";
    font-size: 1.5em;
    color: #fff;
}

#smLinks {
    width: 50%;
    height: 80px;
    position: absolute;
    bottom: 5%;
    left: 25%;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 3%;
    background-color: #fff;
}

.smIcons {
    width: 33.3%;
    height: 100%;
    float: left;
    border-left: #0c0c0c solid 1px;
    border-right: #0c0c0c solid 1px;
}

#FB {
    background-image: url(../img/indexImg/fb.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#Insta {
    background-image: url(../img/indexImg/insta.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#Email {
    background-image: url(../img/indexImg/email.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#navButton {
    background-color: #fff;
}

#navButton i {
    color: #000000;
}