
.service {
    width: 50%;
    height: 100%;
    float: left;
    color: #fff;
}

#serviceMedia {
    border-right: 2px solid #fff;
    background-image: url(/img/homepageIMG/mediaBG.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
    opacity: 0.5;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
}

#serviceMedia:hover {
    opacity: 0.8;
}

#serviceWD {
    border-left: 2px solid #fff;
    background-image: url(/img/homepageIMG/WDBG.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    opacity: 0.5;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
}

#serviceWD:hover {
    opacity: 0.8;
}

.serviceTitle {
    text-align: center;
    margin-top: 40%;
}
