/*------------------------------------------------------------------
[NU Master Stylesheet]

Project:    'Mian Media'
Version:    1.0
Last change:    'changed color of links to match black and white theme'
Assigned to:    Noor Uddin (NU)
Primary use:    'Login Page Style'
-------------------------------------------------------------------*/
.loginBG {
    background: url(/img/loginImg/loginBG2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: left;
    border-radius: 1%;
}

.cardSize {
    background-color: transparent;
    width: 80%;
    margin: auto;

}

#loginSection,
#regSection {
    margin-top: auto;
    margin-top: 3%;
}

#loginBut,
#regBut {
    background-color: #fff;
    color: #000000;
}

#regTT {
    background-color: #fff;
    color: #000;
}

#loginForm,
#regForm {
    color: #000;
    cursor: pointer;
}

::placeholder {
    color: #000;
}

#agreeText {
    color: #fff;
}
.whyReg {
   color: #fff;
}